:root{
    --color-pink: #F25A70;
    --color-purple: #7C5E99;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-purple);
    border-bottom: 10px  solid var(--color-black);
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: var(--color-white);
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;   
}

a::before{ /*vai aparecer no final da tag A*/
    content: "";
    display: inline-block;
    background-color: var(--color-pink);
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

#button{
    display: inline-block;
    background-color: var(--color-pink);
    padding: 18px 20px;
    box-shadow: 5px 5px 0 var(--color-black);
    margin-right: 0;
}
